@import "mediaqueries";

.slide-up {
  transform: translateY(100vh);
  transition: transform 0.0001s ease;
}

.slide-down {
  transform: translateY(0);
  transition: transform 1.5s ease;
}

@keyframes background-image-animation {
  25% {
    opacity: 1;
  }
  85%,
  100% {
    opacity: 0;
    scale: 3;
  }
}

.homepage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  .home-background {
    overflow-x: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @include hamburg(1024px){
    @supports (animation-timeline: view()) {
      .home-background {
        transform-origin: bottom;
        animation: background-image-animation linear forwards;
        animation-timeline: view();
        animation-range: exit;
      }
    }
  }

  @include breakpoint(1024px) {
    padding-top: 30vh;
    height: 100vh;
  }

  h1 {
    color: $color1;
    font-size: 3rem;
    max-width: 630px;
    line-height: 65px;
    height: 130px;
    @include breakpoint(768px) {
      height: 70px;
    }
    margin: 170px 20px 0;
    @include breakpoint(1024px) {
      font-size: 2.5rem;
      line-height: 55px;
      margin: 150px 20px 0;
    }
    @include breakpoint(768px) {
      font-size: 2rem;
      line-height: 45px;
      margin: 130px 20px 0;
    }
    @include breakpoint(480px) {
      font-size: 1.5rem;
      line-height: 35px;
      margin: 110px 10px 0;
    }
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  margin-top: 30px;

  @include breakpoint(768px) {
    justify-content: center;
  }

  .card {
    position: relative;
    width: calc(25% - 20px); // Adjust width to fit 4 cards per row with spacing
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;

    @include breakpoint(1024px) {
      width: calc(
        50% - 20px
      ); // Adjust width to fit 2 cards per row on smaller screens
    }

    @include breakpoint(768px) {
      width: calc(100% - 20px); // Adjust width to fit 1 card per row on mobile
    }

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);

      .card-hover {
        opacity: 1;
      }
    }

    img {
      width: 100%;
      height: auto;
      display: block;
    }

    .card-content {
      padding: 15px;
      background: #fff;
      height: 100%;

      h3 {
        margin: 0 0 10px;
        font-size: 1.5rem;
        color: #311973;
      }

      h4 {
        margin: 0;
        font-size: 1.2rem;
        color: #6021ff;
      }
    }

    .card-hover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.8);
      color: #fff;
      opacity: 0;
      transition: opacity 0.3s ease;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      box-sizing: border-box;

      p {
        margin-bottom: 20px;
        text-align: center;
      }

      button {
        background: gold;
        color: #000;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 4px;
        transition: background 0.3s ease, transform 0.3s ease;
      }
    }

    &:hover {
      transform: scale(1.05);

      .card-hover {
        opacity: 1;
      }
    }

    &:active {
      background: #ccac00;
      transform: scale(0.9);
    }
  }
}

.value-text {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 7rem;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  height: 50vh;
  color: #ffffff;

  @include breakpoint(768px) {
    font-size: 2rem !important;
    height: 30vh; 
    width: 100%;
    // background-color: #000;
    margin-top: 15px;
  }

  @include breakpoint(480px) {
    font-size: 3.5rem; 
    height: 25vh; 
    width: 70%;
  }
}

.sub-text {
  font-size: 2.5rem;
  font-family: "Cursive", Georgia, "Times New Roman", Times, serif !important;
  text-align: center;
  height: 35vh;
  margin-top: 5px;
  color: #ffffff;
}

.call-to-action {
  display: flex;
  margin-left: 15px;
  @include breakpoint(768px) {
    flex-direction: column;
    margin-right: 15px;
  }
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  text-align: center;

  .primary-button {
    padding: 12px 25px;
    background: #311973;
    color: #fff;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
    font-family: "Poppins", sans-serif; /* Elegant font */

    &:hover {
      background: #3d2f96;
      transform: translateY(-2px);
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    &:active {
      background: #3d2f96;
      transform: translateY(0);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    &:disabled {
      background-color: #e0e0e0;
      color: #b0b0b0;
      cursor: not-allowed;
    }
  }

  .highlight {
    color: #ff6f61;
  }

  .or {
    font-weight: bold;
    font-size: 1.5em;
    color: #fdfdfd;
  }
}

.options {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 0 20px;
  box-sizing: border-box;
  margin-top: 30px;
  @include breakpoint(768px) {
    padding: 0 10px;
  }
  @include breakpoint(480px) {
    padding: 0 5px;
  }
  > button {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 4px 12px;
    margin: 5px;
    border-radius: 50px;
    transition: background 0.2s ease, transform 0.2s ease;
    &:hover {
      background-color: #fff;
      color: black;
      transform: scale(1.1);
      cursor: pointer;
    }
    &:active {
      background-color: #ccc;
      transform: scale(0.9);
    }
    @include breakpoint(768px) {
      padding: 3px 10px;
    }
    @include breakpoint(480px) {
      padding: 2px 8px;
    }
  }
}

.services-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  @include breakpoint(768px) {
    flex-direction: column;
    align-items: center;
  }
}

.services-section {
  padding: 50px 20px;
  background: linear-gradient(135deg, #311973 0%, #f5f5f5 100%);
  text-align: center;
  color: #fff;

  h2 {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 30px;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);

    @include breakpoint(768px) {
      font-size: 2rem;
    }
  }
}

.services-list {
  flex: 1;
  padding-right: 20px;

  @include breakpoint(768px) {
    padding-right: 0;
  }

  .services-list-li {
    &:hover {
      color: gold;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    padding: 10px 0;
    font-size: 18px;
    cursor: pointer;

    @include breakpoint(768px) {
      font-size: 16px;
    }
  }
}

.services-carousel {
  width: 50%;
  margin-right: 50px;
  flex: 2;

  @include breakpoint(768px) {
    width: 100%;
    margin-right: 0;
  }
}

.service-card {
  padding: 20px;
  margin: 0 0 130px 10px;

  @include breakpoint(768px) {
    margin: 0 0 50px 0;
  }

  h3 {
    margin-top: 0;
  }
}

.slick-slider {
  margin: 0 auto;

  @include breakpoint(768px) {
    width: 100%;
  }
}

.slick-prev,
.slick-next {
  z-index: 1;
}

$gold: #ffd700;
@keyframes colorChange {
  0% {
    color: #fff;
  }
  50% {
    color: $gold;
  }
  100% {
    color: #fff;
  }
}

.working-model-new {
  padding: 50px 20px;
  background: linear-gradient(135deg, #311973 0%, #6573c7 100%);
  background-size: 400% 400%;
  animation: gradientBackground 15s ease infinite;
  color: #fff;
  text-align: center;

  h2 {
    font-size: 2.5rem;
    color: $gold;
    margin-bottom: 30px;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    animation: fadeInDown 1s ease forwards, colorChange 15s ease infinite;
  }

  .section-new {
    margin: 20px 0;
    padding: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    backdrop-filter: blur(5px);
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInUp 1s ease forwards, colorChange 15s ease infinite;

    &:nth-child(1) {
      animation-delay: 0.2s;
    }
    &:nth-child(2) {
      animation-delay: 0.4s;
    }
    &:nth-child(3) {
      animation-delay: 0.6s;
    }

    h3 {
      font-size: 1.8rem;
      margin-bottom: 10px;
    }

    p {
      font-size: 1.2rem;
      margin-bottom: 20px;
      color: #fff;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        font-size: 1rem;
        line-height: 1.5;
        color: #fff;
      }
    }

    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.9);
      cursor: pointer;
    }

    .card-content {
      position: relative;

      .card-icon {
        position: absolute;
        top: 2.5px;
        right: 10px;
        width: 150px;
        height: 100px;
        border-radius: 8px;
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
    @include breakpoint(1200px) {
      padding: 15px;
    }

    @include breakpoint(992px) {
      h2 {
        font-size: 2rem;
      }

      .card-content {
        .card-icon {
          width: 30px; // Adjust for smaller screens
          height: 30px; // Adjust for smaller screens
        }
      }
    }

    @include breakpoint(768px) {
      h2 {
        font-size: 1.8rem;
      }

      h3 {
        font-size: 1.5rem;
      }

      p {
        font-size: 1rem;
      }

      .card-content {
        .card-icon {
          width: 25px; // Adjust for smaller screens
          height: 25px; // Adjust for smaller screens
        }
      }
    }
  }
}

@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.queries {
  display: flex;
  align-items: end;
  justify-content: center;
  padding: 20px;
  height: 90vh;
  position: relative;
  color: white;
  text-align: center;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
  
  .contactBg{
    position: fixed;
    z-index: -1;
    width:100vw;
    height:90vh;
    @include breakpoint(768px){
      height: 70vh;
    }
    opacity: 0.8;
  }
  // Responsive adjustments
  @include breakpoint(768px) {
    height: 50vh; /* Adjust height for smaller screens */
    padding: 10px;
  }
}

.contact-btn {
  background-color: #4017a8; /* Previous button color */
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  z-index: 1;
  margin-bottom: 55px;
  // Responsive adjustments
  @include breakpoint(768px) {
    font-size: 1.2rem; /* Adjust font size for smaller screens */
    padding: 8px 16px; /* Adjust padding */
  }
}

.contact-btn:hover {
  background-color: #4e17cc; /* Darker on hover */
  transform: scale(1.05);
  box-shadow: none;
}

.contact-btn:active {
  background-color: #3c13a3; /* Darker on click */
  transform: scale(0.95);
}




.join {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  height: 90vh;
  background: url("../assets/join-us.jpg") no-repeat center center; /* Add your image path here */
  background-size: cover;
  position: relative;
  color: white;
  text-align: center;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out; /* Smooth transitions */
}

.join.animate {
  opacity: 1;
  transform: translateY(0);
}

.join::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Adds a dark overlay */
  z-index: 0;
}

.join h1,
.join button {
  z-index: 1;
}

.join h1 {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 20px;
}

.join button {
  background-color: #6021ff; /* Matches the card color */
  color: white;
  font-size: 1.5rem;
  padding: 10px 20px;
  border: none;
  border-radius: 10px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transitions */
  z-index: 1;
}

.join button:hover {
  background-color: #4e17cc; /* Slightly darker on hover */
  transform: scale(1.05); /* Slightly larger on hover */
}

.join button:active {
  background-color: #3c13a3; /* Even darker on click */
  transform: scale(0.95); /* Slightly smaller on click */
}

/* Keyframes for animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-350px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(300px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
