.whatwedo-main {
  padding: 50px 20px;
  background: linear-gradient(135deg, #311973 0%, #313752 100%);
  color: #333;
  text-align: center;

  .icon {
    margin-top: 10px;
    font-size: 8rem;
    color: white;
    margin-left: 160px;

    @include breakpoint(768px) {
      font-size: 5rem;
      margin-left: 120px;
    }
  }

  h2 {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 30px;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);

    @include breakpoint(768px) {
      font-size: 2rem;
    }
  }

  .whatwedo-center {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .content-container {
      display: flex;
      background: linear-gradient(135deg, #a060ee, #6e8efb);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      margin: 20px 0;
      padding: 25px;
      text-align: left;
      width: 100%;
      max-width: 800px;
      flex-direction: column;

      @include hamburg(768px) {
        flex-direction: row;
        align-items: center;
      }

      .heading {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        h3 {
          font-size: 1.8rem;
          color: #311973;
          margin: 0 10px;
        }

        svg {
          font-size: 2rem;
          color: #311973;
        }

        @include breakpoint(768px) {
          h3 {
            font-size: 1.5rem;
          }

          svg {
            font-size: 1.5rem;
          }
        }
      }

      .content {
        font-size: 1rem;
        line-height: 1.6;
        color: #555;

        p {
          margin: 10px 0;
        }

        @include breakpoint(768px) {
          font-size: 0.9rem;
        }
      }
      .projects {
        margin-top: 30px;
        
        @include breakpoint(768px) {
          max-width: 290px;
        }
      
        h4 {
          font-size: 1.5rem;
          color: #311973;
          margin-bottom: 10px;
          text-align: center;
        }
      
        .projects-list {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 20px;
        }
      
        .project-item {
          padding: 15px 20px;
          background-color: #484749;
          color: white;
          border-radius: 8px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          text-align: center;
          min-width: 180px;
          transition: transform 0.3s ease;
          cursor: pointer;
      
          &:hover {
            transform: translateY(-5px);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
          }
      
          p {
            margin: 0;
            font-size: 1rem;
            font-weight: bold;
          }
        }
      }
      
      .scroller {
        max-width: 500px;
        overflow: hidden;
      
        @include breakpoint(768px) {
          max-width: 300px;
        }
      
        &:hover {
          overflow-x: auto; 
          -webkit-mask: none; 
          mask: none;
          
          .scroller__inner {
            animation-play-state: paused; 
          }
          &::-webkit-scrollbar {
            display: none;
          }
        
          /* Hide scrollbar for other browsers */
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
        }
        &:active {
          overflow-x: auto; 
          -webkit-mask: none; 
          mask: none;
          
          .scroller__inner {
            animation-play-state: paused; 
          }
          &::-webkit-scrollbar {
            display: none;
          }
        
          /* Hide scrollbar for other browsers */
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
        }
      }
      
      .scroller__inner {
        padding-block: 1rem;
        display: flex;
        flex-wrap: wrap;
        color: white;
        gap: 1rem;
        p {
          padding: 1rem;
          background: hsl(215, 25%, 27%);
          border-radius: 0.5rem;
          margin: 10px;
          box-shadow: 0 0.5rem 1rem -0.25rem hsl(218, 33%, 9%);
        }
      }
      
      .scroller[data-animated="true"] {
        -webkit-mask: linear-gradient(
          90deg,
          transparent,
          white 20%,
          white 80%,
          transparent
        );
        mask: linear-gradient(
          90deg,
          transparent,
          white 20%,
          white 80%,
          transparent
        );
      }
      
      .scroller[data-animated="true"] .scroller__inner {
        width: max-content;
        flex-wrap: nowrap;
        animation: scroll var(--_animation-duration, 40s)
          var(--_animation-direction, forwards) linear infinite;
      }
      
      .scroller[data-direction="right"] {
        --_animation-direction: reverse;
      }
      
      .scroller[data-direction="left"] {
        --_animation-direction: forwards;
      }
      
      .scroller[data-speed="fast"] {
        --_animation-duration: 20s;
      }
      
      .scroller[data-speed="slow"] {
        --_animation-duration: 60s;
      }
      
      @keyframes scroll {
        to {
          transform: translate(calc(-50% - 0.5rem));
        }
      }
      
    }
  }
}
