@keyframes colorChange {
  0% {
    color: #ffffff;
  } /* White */
  20% {
    color: #f5f5f5;
  } /* White Smoke */
  40% {
    color: #f0f8ff;
  } /* Alice Blue */
  60% {
    color: #e6e6fa;
  } /* Lavender */
  80% {
    color: #fafad2;
  } /* Light Goldenrod Yellow */
  100% {
    color: #ffffff;
  } /* White */
}

@keyframes fromBottomLeft {
  0% {
    transform: translate(-200%, 200%);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes fromBottomRight {
  0% {
    transform: translate(200%, 200%);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

// Ensure universal box-sizing for all elements
*,
*::before,
*::after {
  box-sizing: border-box;
}

.whatwedo-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 175vh;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
  overflow: hidden;

  @include breakpoint(768px) {
    width: 100%;
    margin-top: 100px;
  }

  h2 {
    margin-top: 80px;
    margin-bottom: 80px;
    color: white;
    text-align: center;
    font-size: 2.8rem;

    @include breakpoint(768px) {
      font-size: 2rem;
      margin-top: 60px;
      margin-bottom: 40px;
    }

    @include breakpoint(480px) {
      font-size: 1.5rem;
      margin-top: 40px;
      margin-bottom: 20px;
    }
  }

  .whatwedo-center {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
    background-color: transparent;
    color: white;
    text-align: center;
    width: 100%;
    justify-content: center;
    box-sizing: border-box;

    .content-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(2px);
      transition: all 0.3s ease;
      overflow: hidden;
      cursor: pointer;
      position: relative;

      &:nth-child(odd) {
        animation: fromBottomLeft 1s forwards;
      }

      &:nth-child(even) {
        animation: fromBottomRight 1s forwards;
      }

      &:hover {
        width: 300px;
        height: 300px;
        border-radius: 15px;
        background-color: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(80px);
      }

      .heading,
      .content {
        transition: opacity 0.3s ease;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
      }

      .heading {
        font-size: 1rem;
        opacity: 1;

        @include breakpoint(768px) {
          font-size: 0.8rem;
        }

        @include breakpoint(480px) {
          font-size: 0.6rem;
        }
      }

      &:hover .heading {
        opacity: 0;
      }

      .content {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        opacity: 0;

        svg {
          font-size: 4rem;
          margin-bottom: 10px;
          color: #ffd700;
          transition: color 0.3s ease;

          @include breakpoint(768px) {
            font-size: 3rem;
          }

          @include breakpoint(480px) {
            font-size: 2.5rem;
          }
        }
      }

      &:hover .content {
        display: flex;
        opacity: 1;
      }

      &:hover .content svg {
        animation: colorChange 3s infinite;
      }
    }
  }
}
